header {
	background-color: #F06292;
	background image:https://images.unsplash.com/photo-1522778034537-20a2486be803?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60
	background size: cover;
	background attachment: fixed;
	background position: center;
	height: 100%;
	
}

main {
	display: grid;
	grid-template-areas: 'aside article article' 'aside footer footer';
	grid-gap: 30px;
}

aside {
	grid-area: aside;
	background-color: #64B5F6;
}

footer {
	grid-area: footer;
	background-color: #ef9472;
}

article {
	grid-area: article;
	backgrounnd-color: #ffffff;
}

img {
 width: 100%;	
}
